*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #f9f9f9;
	color: #6c6e6f;
	overflow-y: scroll;
	overflow-x: hidden;
}
a:hover, a:focus {
	color: #6c6e6f;
	outline: none;
}

.demo-drawings body {
	background: #fff;
	color: #fff;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.demo-drawings {
	margin: 200px auto 3em;
}
